In [173]:
from sklearn import datasets     # import library
import pandas as pd

In [176]:
diab = datasets.load_diabetes()     #import dataset
X,y = datasets.load_diabetes(return_X_y =True)     # to separete data & target

In [177]:
diab = pd.DataFrame(X,y, columns=diab['feature_names']) # to create df
diab.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
151.0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
75.0,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
141.0,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
206.0,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
135.0,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [178]:
from sklearn.model_selection import train_test_split

In [179]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 0, train_size = 0.8)

In [180]:
from sklearn.neighbors import KNeighborsClassifier

In [181]:
model = KNeighborsClassifier()
model.fit(X,y)
model.score(X,y)

0.1832579185520362

In [184]:
pred = model.predict(X_test)
pred

array([131.,  67., 118.,  64.,  48., 275.,  59., 163.,  95.,  52., 131.,
       122.,  71.,  42., 275.,  43.,  68.,  52.,  85., 155.,  67.,  88.,
        53.,  85.,  68.,  67.,  48.,  48., 166., 111., 185.,  42., 144.,
        59.,  67.,  66., 151.,  77.,  49., 109.,  53.,  84.,  78., 127.,
        91.,  63.,  73.,  60.,  51., 155.,  47.,  43., 104.,  51., 195.,
        91.,  67.,  61.,  67., 163.,  52.,  25.,  91.,  51., 132.,  59.,
        31., 192.,  68.,  57.,  72.,  69.,  53.,  59.,  60., 107.,  84.,
       186., 174.,  67.,  67., 129.,  47., 123.,  55.,  49.,  60., 107.,
        59.])